<h1><%= @appointment.id ? 'Edit Appointment' : 'Create Appointment'%></h1>
<%= form_with(model: [@patient, @appointment], local: true) do |f| %>
<div>
  <%= f.label :date %>
  <%= f.text_field :date, required: true, autofocus: true %>
  </div>
  <br />
  <div>
  <%= f.label :physician %>
  <%= f.select :physician_id, Physician.all.collect { |p| [p.dr_name, p.id]} %>
</div>
<br />
  <%= f.submit %>
  <% end %>